version: 2

defaults: &defaults
  working_directory: ~/app
  docker:
    - image: cypress/base:8
      environment:
        TERM: xterm

jobs:
  lint-and-cache-warm:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - yarn-packages-v11-{{ checksum "yarn.lock" }}
            - yarn-packages-v11-

      - run: &install_deps
          name: Install Dependencies
          command: |
            yarn install
            yarn autoclean --force

      - save_cache: &save_cache
          name: Save Yarn Package Cache
          key: yarn-packages-v11-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/Cypress
            - node_modules

      - run:
          name: Run linters
          command: yarn run lint

      - persist_to_workspace:
          root: ~/app
          paths:
            - node_modules

  unit-tests:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/app

      - run:
          name: Unit tests
          command: yarn test

  integration-tests:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore_cache

      - run:
          name: Start background app
          command: yarn start
          background: true

      - run:
          name: Cypress tests
          command: yarn run cypress:run

  build:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/app

      - run:
          name: Build app
          command: yarn build

      - persist_to_workspace:
          root: build
          paths:
            - index.html
            - asset-manifest.json
            - favicon.ico
            - manifest.json
            - static

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: build

      - run:
          name: Set PR number
          command: |
            echo 'export CIRCLE_PR_NUMBER="${CIRCLE_PR_NUMBER:-${CIRCLE_PULL_REQUEST##*/}}"' >> $BASH_ENV
            source $BASH_ENV
            echo $CIRCLE_PR_NUMBER

      - run:
          name: List workspace
          command: |
            ls -la build
            ls -la build/static
            ls -la build/static/css
            ls -la build/static/js
            ls -la build/static/media

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - lint-and-cache-warm

      - unit-tests:
          requires:
            - lint-and-cache-warm

      - integration-tests:
          requires:
            - lint-and-cache-warm

      - build:
          requires:
            - lint-and-cache-warm

      - deploy:
          requires:
            - build
            - unit-tests
            - integration-tests
