version: 2

defaults: &defaults
  working_directory: ~/app
  docker:
    - image: cypress/base:8
      environment:
        TERM: xterm

jobs:
  cache-warm:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - yarn-packages-v6-{{ checksum "yarn.lock" }}

      - run: &install_deps
          name: Install Dependencies
          command: yarn install

      - save_cache: &save_cache
          name: Save Yarn Package Cache
          key: yarn-packages-v6-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
            - node_modules

  lint:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore_cache

      - run:
          name: Run linters
          command: yarn run lint

  unit-tests:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore_cache

      - run:
          name: Unit tests
          command: yarn test

  integration-tests:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore_cache

      - run:
          name: Start background app
          command: yarn start
          background: true

      - run:
          name: Cypress tests
          command: yarn run cypress:run

  build-and-deploy:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore_cache
      - run: *install_deps
      - save_cache: *save_cache

      - run:
          name: Build app
          command: yarn build

      - run:
          name: Deploy
          command: echo "deploy!!"

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - cache-warm
      - lint:
          requires:
            - cache-warm
      - unit-tests:
          requires:
            - cache-warm
      - integration-tests:
          requires:
            - cache-warm

      - build-and-deploy:
          requires:
            - cache-warm
            - lint
            - unit-tests
            - integration-tests
