defaults: &defaults
  working_directory: ~/app
  docker:
    - image: cypress/base:8
      environment:
        TERM: xterm

version: 2
jobs:
  checkout:
    <<: *defaults
    steps:
      - checkout

  lint:
    <<: *defaults
    steps:
      - run:
          name: Run linters
          command: yarn run lint

  unit-tests:
    <<: *defaults
    steps:
      - run:
          name: Unit tests
          command: yarn test

  integration-tests:
    <<: *defaults
    steps:
      - run:
          name: Start background app
          command: yarn start
          background: true

      - run:
          name: Cypress tests
          command: yarn run cypress:run

  build:
    <<: *defaults
    steps:
      - restore_cache:
          keys:
            - yarn-packages-v2-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: Install Dependencies
          command: yarn install
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-v2-{{ checksum "yarn.lock" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run:
          name: Build app
          command: yarn build

  deploy:
    <<: *defaults
    steps:
      - run: echo "deploy!!"

workflows:
  verion: 2
  build-test:
    jobs:
      - checkout
      - lint:
          requires:
            - checkout
      - build:
          requrires:
            - lint
      - unit-tests:
          requires:
            - lint
      - integration-tests:
          requires:
            - build
      - deploy:
          requires:
            - lint
            - unit-tests
            - initegration-tests
