version: 2

defaults: &defaults
  working_directory: ~/app
  docker:
    - image: cypress/base:8
      environment:
        TERM: xterm

jobs:
  lint:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Run linters
          command: yarn run lint

  unit-tests:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Unit tests
          command: yarn test

  integration-tests:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Start background app
          command: yarn start
          background: true

      - run:
          name: Cypress tests
          command: yarn run cypress:run

  build-and-deploy:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          keys:
            - yarn-packages-v2-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: Install Dependencies
          command: yarn install

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-v2-{{ checksum "yarn.lock" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run:
          name: Build app
          command: yarn build

      - run:
          name: Deploy
          command: echo "deploy!!"

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - lint
      - unit-tests
      - integration-tests

      - build-and-deploy:
          requires:
            - lint
            - unit-tests
            - integration-tests
